* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$borderColor:#f38181;
$layerColor:(rgba(244,139,130,0.9),rgba(251,227,137,0.9) );
$skyBlue:#95e1d3;
$white:#ffffff;
$textFont: #333333;
$iconBackground:#95e1d3;
$secondColor:#fce38a;
$gray:#f8f8f8;
$pargrapghText:#999999;


